<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/check.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">全部订单</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="order-style">
	    	<li class="current"><a href="allorder.html">全部</a></li>
	    	<li><a href="allorder.html">待付款</a></li>
	    	<li><a href="allorder.html">退发货</a></li>
	    	<li><a href="allorder.html">待收货</a></li>
	    	<li><a href="allorder.html">待评价</a></li>

	    </ul>
	    <!--代付款-->
	    <div class="c-comment">
			<span class="c-comment-num">支付宝支付</span>
			<span class="c-comment-suc">待付款</span>
		</div>
		
		<div class="c-comment-list" style="border: 0;">
			<a href="orderdetail.html">
			<p>应付金额：￥63.0     实付金额：<span>￥63.0</span></p>
			<p>订单编号：123456789</p>
			<p>下单时间：2016-01-07  10：22：52</p>
			<p>联系店长：沫沫       <span><i class="iconfont">&#xe603</i>18012345678</span></p>
            </a>
		</div>
		<div class="c-com-btn">
			<a href="tureorder.html" class="oncepay">立即支付</a>
			<a href="" class="canelpay">取消订单</a>
		</div>
		<div class="clear"></div>
		<!--代付款-->
		<!--待收货-->
		 <div class="c-comment">
			<span class="c-comment-num">微信支付</span>
			<span class="c-comment-suc">待收货</span>
		</div>
		
		<div class="c-comment-list" style="border: 0;">
			<a href="orderdetail.html">
			<p>应付金额：￥63.0     实付金额：<span>￥63.0</span> <b>省</b><span>￥2.5</span> </p>
			<p>订单编号：123456789</p>
			<p>下单时间：2016-01-07  10：22：52</p>
			<p>联系店长：沫沫       <span><i class="iconfont">&#xe603</i>18012345678</span></p>
			</a>
		</div>
		<div class="c-com-btn">
			<a href="" class="oncepay">确认收货</a>
			<a href="" class="canelpay">取消订单</a>
		</div>
		<div class="clear"></div>
		<!--待收货-->
		<!--交易成功-->
		 <div class="c-comment">
			<span class="c-comment-num">余额支付</span>
			<span class="c-comment-suc">已完成</span>
		</div>
		
		<div class="c-comment-list" style="border: 0;">
			<a href="orderdetail.html">
			<p>应付金额：￥63.0     实付金额：<span>￥63.0</span> <b>省</b><span>￥2.5</span> </p>
			<p>订单编号：123456789</p>
			<p>下单时间：2016-01-07  10：22：52</p>
			<p>联系店长：沫沫       <span><i class="iconfont">&#xe603</i>18012345678</span></p>
			</a>
		</div>
		<div class="c-com-btn">
			<a href="" class="oncepay">删除订单</a>
			<a href="" class="canelpay">投诉</a>
		</div>
		<div class="clear"></div>
		<!--交易成功-->
		<!--交易成功-->
		 <div class="c-comment">
			<span class="c-comment-num">余额支付</span>
			<span class="c-comment-suc">待发货</span>
		</div>
		
		<div class="c-comment-list" style="border: 0;">
			<a href="orderdetail.html">
			<p>应付金额：￥63.0     实付金额：<span>￥63.0</span> <b>省</b><span>￥2.5</span> </p>
			<p>订单编号：123456789</p>
			<p>下单时间：2016-01-07  10：22：52</p>
			<p>联系店长：沫沫       <span><i class="iconfont">&#xe603</i>18012345678</span></p>
			</a>
		</div>
		<div class="c-com-btn">
			<a href="" class="canelpay">取消订单</a>
		</div>
		<div class="clear"></div>
		<!--交易成功-->
		<div class="c-comment">
			<span class="c-comment-num">余额支付</span>
			<span class="c-comment-suc"> 待评价</span>
		</div>
		
		<div class="c-comment-list" style="border: 0;">
			<a href="orderdetail.html">
			<p>应付金额：￥63.0     实付金额：<span>￥63.0</span> <b>省</b><span>￥2.5</span> </p>
			<p>订单编号：123456789</p>
			<p>下单时间：2016-01-07  10：22：52</p>
			<p>联系店长：沫沫       <span><i class="iconfont">&#xe603</i>18012345678</span></p>
			</a>
		</div>
		<div class="c-com-btn">
			<a href="" class="oncepay">立即评价</a>
		</div>
		
		  <!--底部-->
 <div style="height:55px;"></div>
 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-5">   
          <li>
            <a href="index.html" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="message.html" class="">
                <span class="am-icon-comments"></span>
                <span class="am-navbar-label">动态</span>
            </a>
          </li>
          <li>
            <a href="shopcart.html" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
          </li>
          <li>
            <a href="allorder.html" class="curr">
                <span class="am-icon-file-text"></span>
                <span class="am-navbar-label">订单</span>
            </a>
          </li>
 
          <li>
            <a href="member.html" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
          </li>
      </ul>
</div>
 
	</body>
</html>
