<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/time.js"></script>
		<style>
			.shop-list-mid .tit a{color: #909090;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;}
		</style>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
		    <div class="cate-search">
		    	<input type="text" class="cate-input" placeholder="请输入您要的搜索的产品关键词" />
		    	<input type="button" class="cate-btn" />
	        </div>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="list-nav">
	    	<li class="current"><a href="">综合</a></li>
	    	<li><a href="">销量</a></li>
	    	<li><a href=""><i class="list-price">价格</i></li>
	    	<li><a href="">新品</a></li>
	    </ul>
	    <div class="content-list">
	    	<div class="list-left">
	    		<li><a href="">进口特产</a></li>
	    		<li class="current"><a href="">休闲零食</a></li>
	    		<li><a href="">糖果饼干</a></li>
	    		<li><a href="">饮料牛奶</a></li>
	    		<li><a href="">方便速食</a></li>
	    		<li><a href="">生活用品</a></li>
	    		<li><a href="">香烟代购</a></li>
	    		<li><a href="">水果酸奶便当</a></li>
	    	</div>
	    	<div class="list-right">
	    		<ul class="list-pro">
	    	<li>
	    		<a href="detail.html"><img src=" images/test10.png" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                	<div class="am-gallery-desc">￥52</div>
                	<p>销量：5件</p>
                </div>
                <div class="list-cart">
	                <div class="d-stock ">
			                <a class="decrease">-</a>
			                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
			                <a class="increase">+</a>
	                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
	    	<li>
	    		<a href="detail.html"><img src=" images/test10.png" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                	<div class="am-gallery-desc">￥52</div>
                	<p>销量：5件</p>
                </div>
                <div class="list-cart">
                <div class="d-stock ">
		                <a class="decrease">-</a>
		                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
		                <a class="increase">+</a>
                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
	    	<li>
	    		<a href="detail.html"><img src=" images/test10.png" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                	<div class="am-gallery-desc">￥52</div>
                	<p>销量：5件</p>
                </div>
                <div class="list-cart">
                <div class="d-stock ">
		                <a class="decrease">-</a>
		                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
		                <a class="increase">+</a>
                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
	    	<li>
	    		<a href="detail.html"><img src=" images/test10.png" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                	<div class="am-gallery-desc">￥52</div>
                	<p>销量：5件</p>
                </div>
                <div class="list-cart">
                <div class="d-stock ">
		                <a class="decrease">-</a>
		                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
		                <a class="increase">+</a>
                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
	    	<li>
	    		<a href="detail.html"><img src=" images/test10.png" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                	<div class="am-gallery-desc">￥52</div>
                	<p>销量：5件</p>
                </div>
                <div class="list-cart">
                <div class="d-stock ">
		                <a class="decrease">-</a>
		                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
		                <a class="increase">+</a>
                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
	    	<li>
	    		<a href="detail.html"><img src=" images/test10.png" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                	<div class="am-gallery-desc">￥52</div>
                	<p>销量：5件</p>
                </div>
                <div class="list-cart">
                <div class="d-stock ">
		                <a class="decrease">-</a>
		                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
		                <a class="increase">+</a>
                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
	    	<li>
	    		<a href="detail.html"><img src=" images/test10.png" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                	<div class="am-gallery-desc">￥52</div>
                	<p>销量：5件</p>
                </div>
                <div class="list-cart">
                <div class="d-stock ">
		                <a class="decrease">-</a>
		                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
		                <a class="increase">+</a>
                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
	    	
	    </ul>
	    	</div>
	    </div>
	    
	    <!--底部-->
 <div style="height: 55px;"></div>
 <div class="fix-bot">
	   	  <div class="fix-bot-cart"><i>8</i></div>
	   	  <a href="tureorder.html" class="list-js">去结算</a>
	   	  <a href="tureorder.html" class="list-jsk">一键快购</a>
	   	  <!--<div class="js-text">
            	<p><b>￥217.80</b></p>
            	<p class="js-car">购物满50元免运费</p>
          </div>-->
 </div>
 
 
 
 
 
 
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
<script>
//购物数量加减
$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			current_num += 1;
			if(current_num > 0){
				self.siblings(".decrease").fadeIn();
				self.siblings(".text_box").fadeIn();
			}
			self.siblings('input').val(current_num);
			update_item(self.siblings('input').data('item-id'));
		})		
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			if(current_num > 0){
				current_num -= 1;
                if(current_num < 1){
	                self.fadeOut();
					self.siblings(".text_box").fadeOut();
                }
				self.siblings('input').val(current_num);
				update_item(self.siblings('input').data('item-id'));
			}
		})
	})

</script>
	</body>
</html>
