<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>超市</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/time.js' %}"></script>
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }

        #asd {
            background: url({% if d == 2%}
                {% static 'images/order-bot.png' %}
            {% elif d == 3%}
                {% static 'images/order-top.png' %}
            {% else %}
                {% static 'images/order.png' %}
            {% endif %}) no-repeat right center;
            padding-right: 20px;
            font-style: normal;
        }
    </style>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <form action="/search/" method="get">
        <div class="cate-search">
            <input type="text" class="cate-input" name="q" value="" placeholder="请输入您要的搜索的产品关键词"/>
            <input type="submit" class="cate-btn" value=""/>
        </div>
    </form>

</header>
<div style="height: 49px;"></div>
<ul class="list-nav">
    <li  {% if d == 0 %} class="current" {% endif %}><a href="{% url '商城:分类' aid 0 %}">综合</a></li>
    <li {% if d == 1 %} class="current" {% endif %}><a href="{% url '商城:分类' aid 1 %}">销量</a></li>
    <li {% if d == 2 %} class="current" {% endif %}><a href="{% url '商城:分类' aid 2 %}"><i id="asd"
                                                                                         class="list-price">价格</i>
        {#    <li {% if d == 2 %} class="current" {% endif %}><a href="{% url '商城:分类' aid 3 %}"><i class="list-price">价格</i>#}
    <li {% if d == 4 %} class="current" {% endif %}><a href="{% url '商城:分类' aid 4 %}">新品</a></li>
</ul>
<div class="content-list">
    <div class="list-left">
        {% for foo in a %}
            <li {% if  aid == foo.pk %}
                class="current"
            {% endif %} ><a href="{% url '商城:分类' foo.pk d %}">{{ foo.sort_name }}</a></li>
        {% endfor %}
    </div>

    <div class="list-right">
        <ul class="list-pro">
            {% for v in  b %}
                {% if  aid == v.sort_id.pk %}
                    <li>
                        <a href="{% url '商城:详情' v.pk %}"><img src="{{ MEDIA_URL }}{{ v.sku_logo }}"
                                                              class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a href="detail.html">{{ v.spu_id.spu_name }}&emsp;{{ v.sku_name }}</a>
                            </div>
                            <div class="am-gallery-desc">￥{{ v.sku_price }}</div>
                            <p>销量：{{ v.sku_sale }}&emsp;{{ v.sort_unit.unit }}</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input id="num" readonly="" sku_id="{{ v.pk }}" class="text_box" name="" type="text"
                                       value="0">
                                <a class="increase">+</a>
                            </div>
                        </div>
                        <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
                    </li>
                {% endif %}

            {% endfor %}
        </ul>
    </div>
</div>

</div>
<div class="navigation">

    <!--底部-->
    <div style="height: 55px;"></div>
    <div class="fix-bot">

        <a href="{% url "购物:购物" %}">
            <div class="fix-bot-cart"><i>{{ re }}</i></div>
        </a>

        <a href="tureorder.html" class="list-js">去结算</a>
        <a href="tureorder.html" class="list-jsk">一键快购</a>
        <!--<div class="js-text">
           <p><b>￥217.80</b></p>
           <p class="js-car">购物满50元免运费</p>
     </div>-->
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <script>
        //购物数量加减
        // 价格图片
        $(function () {
            if ("{{ d }}" == 2) {
                $("#asd").parent("a").attr("href", "{% url '商城:分类' aid 3 %}")
            } else if ("{{ d }}" == 3) {
                $("#asd").parent("a").attr("href", "{% url '商城:分类' aid 2 %}")

            }
        });

        var c = 0;
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                var count = c + 1;
                var sku_id = parseInt(self.siblings('input').attr('sku_id'));
                {#console.debug(count);#}
                $.ajax({
                    type: "POST",
                    url: "{% url '购物:购物车' %}",
                    data: {
                        "count": count,
                        "sku_id": sku_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.a == 0) {
                            if (current_num > 0) {
                                self.siblings(".decrease").fadeIn();
                                self.siblings(".text_box").fadeIn();
                            }

                        }
                        self.siblings('input').val(current_num);
                    }
                })

            });
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());

                var sku_id = parseInt(self.siblings('input').attr('sku_id'));
                var count = c - 1;
                console.debug(sku_id);
                $.ajax({
                    type: "POST",
                    url: "{% url '购物:购物车' %}",
                    data: {
                        "count": count,
                        "sku_id": sku_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.a == 3) {
                            if (current_num > 0) {
                                current_num -= 1;
                                if (current_num < 1) {
                                    self.fadeOut();
                                    self.siblings(".text_box").fadeOut();
                                }
                                self.siblings('input').val(current_num);
                            }
                        }

                    }
                })


            })
        });

    </script>
</body>
</html>
