<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>超市</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script>
        function changeImage() {
            document.getElementById("imgflag").src = "{% static 'images/redherat.png' %}";
        }
    </script>

    <style>
        .am-slider-default .am-control-nav {
            text-align: center;
        }

        .am-slider-default .am-control-nav li a.am-active {
            background: #cb2527;
        }

        .am-slider-default .am-control-nav li a {
            border: 0;
            width: 10px;
            height: 10px;
        }
    </style>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">商品详情</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<!--图片轮换-->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
        {% for foo in a.shop_img_set.all %}
            <li><img src="{{ MEDIA_URL }}{{ foo.img_url }}"/></li>
        {% endfor %}
    </ul>
</div>
<div class="detal-info" style="position: relative; width: 100%;">
    <p>{{ a.spu_id.spu_name }}&emsp;{{ a.sku_name }}</p>
    <h2>商城价：<span>￥{{ a.sku_price }}</span></h2>
    <div class="heart">
        <img src="{% static 'images/herat.png' %}" width="25" id="imgflag" onclick="changeImage()"/>
        <p>收藏</p>
    </div>
</div>
<div class="d-amount">
    <h4>数量{{ a.sku_stock }}：</h4>
    <div class="d-stock">
        <a class="decrease">-</a>
        <input id="num" readonly="" sku_id="{{ a.pk }}" class="text_box" name="" type="text" value="1">
        <a class="increase">+</a>
        <span id="dprice" class="price" style="display:none"> 36</span>
    </div>
    <h4>{{ a.sort_unit.unit }}</h4>
</div>
<div style="background: #eee; height: 10px;"></div>
<div class="am-tabs detail-list" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">商品详情</a></li>
        <li><a href="#tab2">商品评论</a></li>
    </ul>

    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active detail " id="tab1">
            {{ a.spu_id.spu_contend|safe }}
        </div>
        <div class="am-tab-panel am-fade detail " id="tab2">
            <!--<div class="comment">
                <span>好评：</span>
                <div class="com-good"></div>
                <span>100%</span>
            </div>
            <div class="comment">
                <span>中评：</span>
                <div class="com-bad"></div>
                <span>0%</span>
            </div>
            <div class="comment">
                <span>差评：</span>
                <div class="com-bad"></div>
                <span>0%</span>
            </div>-->
            <ul class="comment-list">
                <li class="current"><a href="">全部</a></li>
                <li><a href="">好评（20）</a></li>
                <li><a href="">中评（5）</a></li>
                <li><a href="">差评（0）</a></li>
            </ul>
            <ul class="comment-pic">
                <li>
                    <div class="tit">
                        <img src="{% static 'images/tx.png' %}" class="tx"/>
                        <span>songke2014</span>
                        <i> [2016-01-01]</i>
                    </div>
                    <div class="comment-con">
                        买了些给家人，都说不错！
                    </div>
                </li>
                <li>
                    <div class="tit">
                        <img src="{% static 'images/tx.png' %}" class="tx"/>
                        <span>songke2014</span>
                        <i> [2016-01-01]</i>
                    </div>
                    <div class="comment-con">
                        买了些给家人，都说不错！
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--底部-->
<div style=" height: 55px;"></div>
<ul class="fix-shopping">
    <li><a href="javascript:;" class="join">加入购物车</a></li>
    <li><a href="" class="imm-buy">立即购买</a></li>
</ul>

<script>
    //购物数量加减
    $(function () {
        $('.increase').click(function () {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            current_num += 1;
            self.siblings('input').val(current_num);
        });
        $('.decrease').click(function () {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            if (current_num > 1) {
                current_num -= 1;
                self.siblings('input').val(current_num);
            }
        });
        // 添加商品到Redis数据库
        $(".join").on('click', function () {
            var count = $('#num').val();//获取标签的value值
            var sku_id = $('#num').attr('sku_id');//获取自定义sku_id的值
            {#console.debug(count,sku_id);#}
            $.ajax({
                type: "POST",
                url: "{% url '购物:购物车' %}",
                data: {
                    "count": count,
                    "sku_id": sku_id,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
                dataType: "json",
                success: function (data) {
                    if (data.a == 1) {
                        alert(" 添加成功!!!")
                    } else if (data.a == 4) {
                        var flag = confirm("是否跳转到登录界面,进行登录完成添加?");
                        if (flag) {
                            location.href = "{% url '用户:登录' %}?ne={% url '商城:详情' a.pk %}"
                        }
                    }
                }
            })
        })

    });
</script>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/amazeui.min.js' %}"></script>
</body>
</html>
