<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/time.js"></script>
		<script src="js/popup.mini.js"></script>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head1">
			<div class="am-header-left am-header-nav">
		        <a href="city.html" class="" style="color: #fff;">
			        <img src="images/city.png" />
			        <p style="font-size: 12px; margin-top: -35px;">南昌</p>
			    </a>
		   </div>
			<h1 class="am-header-title1">
		        <div class="search-box">
		           <a href="village.html" class="index-search">南昌大学前湖校区∨</a>
		         <!--  <input type="submit" value="" class="search-icon" /> -->
		        </div>
		    </h1>
			<div class="am-header-right am-header-nav">
			    <a href="tidings.html" class="">
		         <div class="messgae"><span>10</span></div>
		        </a>
			</div>
        </header>
<div style="height: 49px;"></div>
<!--图片轮换-->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
  <ul class="am-slides">
    <li><img src="images/banner.png" /></li>
    <li><img src="images/banner.png" /></li>
  </ul>
</div>
<!--导航-->
 <ul class="sq-nav">
      <li>
        <div class="am-gallery-item">
            <a href="recharge.html" class="">
              <img src="images/icon.png" />
              <p>充值</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="javascript:;" class="index-qd">
              <img src="images/icon1.png" />
              <p>签到</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="yhq.html" class="">
              <img src="images/icon2.png" />
              <p>红包</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="" class="">
              <img src="images/icon3.png" />
              <p>即将上线</p>
            </a>
        </div>
      </li>
  </ul>
  <ul class="sq-nav1">
  	<li>
        <div class="am-gallery-item">
            <a href="speed.html" class="">
              <img src="images/icon4.png" />
              <p>零食飞速</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="category.html" class="">
              <img src="images/icon5.png" />
              <p>超市</p>
            </a>
        </div>
      </li>
      
  </ul>
  <div class="h-line"></div>
  <!--不规则展示-->
  <div class="index-product">
  	<div class="index-pro-lf"><a href=""><img src="images/s1.png"/></a></div>
  	<div class="index-pro-lr"><a href=""><img src="images/s2.png"/></a></div>
  </div>
  <div class="product-bot">
  	<div class="product-bot-lf"><a href=""><img src="images/s3.png"/></a></div>
  	<div class="product-bot-lr">
  		<div class="top"><a href=""><img src="images/s4.png"/></a></div>
  		<div class="bot">
  			<div class="bot-lf"><a href=""><img src="images/s5.png"/></a></div>
  			<div class="bot-lr"><a href=""><img src="images/s6.png"/></a></div>
  		</div>
  	</div>
  </div>
  <!--不规则展示-->
  <div class="h-line"></div>
  <!-- 特色专区-->
  <div class="sq-title">
 	<img src="images/ts.png" width="26"/>
 	特色专区
  </div>
  <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-gallery-default"  >
      <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test.png" />
                <h3 class="am-gallery-title">猪骨头棒新鲜生鲜肉制品猪大骨头筒骨熬汤佳品500g</h3>
                <div class="am-gallery-desc">￥52</div>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test1.png" />
                <h3 class="am-gallery-title">冻品批发大江鸡腿 冷鲜鸡腿放心食材1kg 冷冻食材</h3>
                <div class="am-gallery-desc">￥39</div>
            </a>
        </div>
      </li>
        <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test2.png" />
                <h3 class="am-gallery-title">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</h3>
                <div class="am-gallery-desc">￥45.8</div>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test21.png" />
                <h3 class="am-gallery-title">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</h3>
                <div class="am-gallery-desc">￥45.8</div>
            </a>
        </div>
      </li>
       <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test.png" />
                <h3 class="am-gallery-title">猪骨头棒新鲜生鲜肉制品猪大骨头筒骨熬汤佳品500g</h3>
                <div class="am-gallery-desc">￥52</div>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test1.png" />
                <h3 class="am-gallery-title">冻品批发大江鸡腿 冷鲜鸡腿放心食材1kg 冷冻食材</h3>
                <div class="am-gallery-desc">￥39</div>
            </a>
        </div>
      </li>
        <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test2.png" />
                <h3 class="am-gallery-title">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</h3>
                <div class="am-gallery-desc">￥45.8</div>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="detail.html" class="">
              <img src=" images/test21.png" />
                <h3 class="am-gallery-title">法国加力果12个装 进口新鲜水果 嘎啦苹果 包邮</h3>
                <div class="am-gallery-desc">￥45.8</div>
            </a>
        </div>
      </li>
  </ul>
<!--签到-->
<div class="qd-box">
	<div class="popup-title">
			<span>签到成功</span>
			<div class="popup-close"><i class="iconfont">&#xe602</i></div>
	</div>
	<div class="dq-text">
		<img src="images/qiandao.png" width="40" />&nbsp; 您已连续签到3天
	</div>
</div>
<!--签到-->

 <!--底部-->
 <div style="height: 55px;"></div>
 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-5">   
          <li>
            <a href="index.html" class="curr">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="message.html" class="">
                <span class="am-icon-comments"></span>
                <span class="am-navbar-label">动态</span>
            </a>
          </li>
          <li>
            <a href="shopcart.html" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
          </li>
          <li>
            <a href="allorder.html" class="">
                <span class="am-icon-file-text"></span>
                <span class="am-navbar-label">订单</span>
            </a>
          </li>
 
          <li>
            <a href="member.html" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
          </li>
      </ul>
</div>
 
 
 
 
 <script type='text/javascript'>
	(function(){
		 new PopUp_api({el:'.index-qd',html:'.qd-box'});
	})()
</script>
 
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
	</body>
</html>
