{% extends "farther/user_father.html" %}
{% load static %}
{% block body %}
    <body>
    <header data-am-widget="header" class="am-header am-header-default sq-head1">
        <div class="am-header-left am-header-nav">
            <a href="city.html" class="" style="color: #fff;">
                <img src="{% static 'images/city.png' %}"/>
                <p style="font-size: 12px; margin-top: -35px;">南昌</p>
            </a>
        </div>
        <h1 class="am-header-title1">
            <div class="search-box">
                <a href="village.html" class="index-search">南昌大学前湖校区∨</a>
                <!--  <input type="submit" value="" class="search-icon" /> -->
            </div>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="tidings.html" class="">
                <div class="messgae"><span>10</span></div>
            </a>
        </div>
    </header>
    <div style="height: 49px;"></div>
    <!--图片轮换-->
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            {% for foo in a %}
                <li><a href="{{ foo.pic_url }}"><img src="{{ MEDIA_URL }}{{ foo.pic }}"/></a></li>
            {% endfor %}
        </ul>
    </div>
    <!--导航-->
    <ul class="sq-nav">
        <li>
            <div class="am-gallery-item">
                <a href="recharge.html" class="">
                    <img src="{% static 'images/icon.png' %}"/>
                    <p>充值</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="javascript:;" class="index-qd">
                    <img src="{% static 'images/icon1.png' %}"/>
                    <p>签到</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="yhq.html" class="">
                    <img src="{% static 'images/icon2.png' %}"/>
                    <p>红包</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="" class="">
                    <img src="{% static 'images/icon3.png' %}"/>
                    <p>即将上线</p>
                </a>
            </div>
        </li>
    </ul>
    <ul class="sq-nav1">
        <li>
            <div class="am-gallery-item">
                <a href="speed.html" class="">
                    <img src="{% static 'images/icon4.png' %}"/>
                    <p>零食飞速</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="{% url '商城:分类' 0 0 %}" class="">
                    <img src="{% static 'images/icon5.png' %}"/>
                    <p>超市</p>
                </a>
            </div>
        </li>

    </ul>
    <div class="h-line"></div>
    <!--不规则展示-->
    <div class="index-product">
        <div class="index-pro-lf"><a href="{{ b.0.active_url }} "><img src="{{ MEDIA_URL }}{{ b.0.active_img }}"/></a>
        </div>
        <div class="index-pro-lr"><a href="{{ b.1.active_url }}"><img src="{{ MEDIA_URL }}{{ b.1.active_img }}"/></a>
        </div>
    </div>
    <div class="product-bot">
        <div class="product-bot-lf"><a href="{{ b.2.active_url }}"><img src="{{ MEDIA_URL }}{{ b.2.active_img }}"/></a>
        </div>
        <div class="product-bot-lr">
            <div class="top"><a href="{{ b.3.active_url }}"><img src="{{ MEDIA_URL }}{{ b.3.active_img }}"/></a></div>
            <div class="bot">
                <div class="bot-lf"><a href="{{ b.4.active_url }}"><img src="{{ MEDIA_URL }}{{ b.4.active_img }}"/></a>
                </div>
                <div class="bot-lr"><a href="{{ b.5.active_url }}"><img src="{{ MEDIA_URL }}{{ b.5.active_img }}"/></a>
                </div>
            </div>
        </div>
    </div>
    <!--不规则展示-->
    <div class="h-line"></div>
    <!-- 特色专区-->
    {% for foo in c %}
        <div class="sq-title">
            <img src="{% static 'images/ts.png' %}" width="26"/>
            {{ foo.zone }}

        </div>
        <ul data-am-widget="gallery"
            class="am-gallery pro-list am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-gallery-default">
            {% for v in foo.active_shop_set.all %}
                <li>
                    <div class="am-gallery-item">
                        <a href="{% url '商城:详情' v.sku_id.pk %}" class="">
                            <img src="{{ MEDIA_URL }}{{ v.sku_id.sku_logo }}"/>
                            <h3 class="am-gallery-title">{{ v.sku_id.spu_id.spu_name }}&emsp;{{ v.sku_id.sku_name }}</h3>
                            <div class="am-gallery-desc">￥{{ v.sku_id.sku_price }}</div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}


    <!--签到-->
    <div class="qd-box">
        <div class="popup-title">
            <span>签到成功</span>
            <div class="popup-close"><i class="iconfont">&#xe602</i></div>
        </div>
        <div class="dq-text">
            <img src="{% static 'images/qiandao.png' %}" width="40"/>&nbsp; 您已连续签到3天
        </div>
    </div>
    <!--签到-->

    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url '商城:首页' %}" class="curr">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url '购物:购物车' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="{% url '商城:订单' %}" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url '用户:个人中心' %}" class="">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>


    <script type='text/javascript'>
        (function () {
            new PopUp_api({el: '.index-qd', html: '.qd-box'});
        })()
    </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    </body>
{% endblock %}

