{% extends 'farther/user_father.html' %}

{% block body %}
    {% load static %}
    <body>
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">购物车</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <!--购物车空的状态-->
    <div style="display: {% if car %}
        none{% else %} block
    {% endif %}" class="login-logo carshow">
        <img src="{% static 'images/care.png' %}">
        <p>亲、您的购物车还是空空的哦，快去装满它!</p>
        <a href="{% url '商城:首页' %}" class="goshopping">前去逛逛</a>
    </div>
    <ul class="shopcart-list">
        {% for sku in car %}
            <li>
                <label class="am-checkbox am-warning">
                    <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
                </label>
                <a href="detail.html"><img src="{{ MEDIA_URL }}{{ sku.sku_logo }}" class="shop-pic"/></a>
                <div class="shop-list-mid">
                    <div class="tit"><a href="">{{ sku.spu_id.spu_name }}&emsp;{{ sku.sku_name }}</a></div>
                    <b class="shop-list-price">￥<span class="sku_p">{{ sku.sku_price }}</span> </b>
                </div>
                <div class="list-cart1">
                    <div class="d-stock">
                        <a class="decrease">-</a>
                        <input readonly="" sku_id="{{ sku.id }}" class="text_box num" name="" type="text"
                               value="{{ sku.count }}">
                        <a class="increase">+</a>
                    </div>
                </div>

            </li>
        {% endfor %}
        <div style="height: 10px; background: #eee;"></div>
    </ul>

    <div class="shop-fix">

        <label class="am-checkbox am-warning">
            <input class="dj" type="checkbox" checked="checked" value="" data-am-ucheck checked>
        </label>
        <a class="del">全选</a>
        <a href="tureorder.html" class="js-btn">去结算</a>
        <div class="js-text">
            <P>合计：￥ <b class="price">00.00</b></P>
            <p class="js-car">免费配送</p>
        </div>
    </div>

    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url '商城:首页' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url '购物:购物车' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="{% url '商城:订单' %}" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url '用户:个人中心' %}" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>


    <script>
        //购物数量加减
        var c = 0;
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());

                var count = c + 1;
                var sku_id = parseInt(self.siblings('input').attr('sku_id'));
                {#console.debug(count);#}
                $.ajax({
                    type: "POST",
                    url: "{% url '购物:购物车' %}",
                    data: {
                        "count": count,
                        "sku_id": sku_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.a == 1) {
                            current_num += 1;
                            self.siblings('input').val(current_num);
                            TotalPrice();//计算价格
                        }
                    }
                })
            });
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());

                var sku_id = parseInt(self.siblings('input').attr('sku_id'));
                var count = c - 1;
                console.debug(sku_id);
                $.ajax({
                    type: "POST",
                    url: "{% url '购物:购物车' %}",
                    data: {
                        "count": count,
                        "sku_id": sku_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.a == 3) {
                            if (current_num > 1) {
                                current_num -= 1;
                                self.siblings('input').val(current_num);
                            } else if (current_num == 1) {//判断当商品减完就删除该商品的li
                                self.parents('li').remove();
                                //
                                if ($('.shopcart-list').find("li").length == 0) {
                                    $('.carshow').show();
                                }
                            }
                            TotalPrice()
                        }
                    }
                })

            });

            function TotalPrice() {
                var checkboxes = $('.shopcart-list').find(':checked');
                var price = 0;
                $.each(checkboxes, function (i, e) {
                    var li = $(e).parents('li');
                    var skup = li.find('.sku_p').text();
                    var num = li.find('.num').val();
                    console.debug(skup, num);
                    price += skup * num;
                });
                // 回显计算之后的价格
                $('.price').text(price.toFixed(2));
            }

            TotalPrice();
            //全选同步商品列表的复选框
            $('.dj').on('change', function () {
                var status = $(this).prop('checked');
                //修改商品列表复选框的状态
                $('.shopcart-list').find(':checkbox').prop('checked', status);

                TotalPrice()
            });
            $('.shopcart-list').find(':checkbox').on('change', function () {
                TotalPrice();
                if ($(".shopcart-list").find(":checkbox").length == $(".shopcart-list").find(":checked").length){
                    $('.dj').prop('checked', true);
                } else {
                    $('.dj').prop('checked', false);

                }
            })
        })
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    </body>
{% endblock %}
