<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="background: #f0f0f0;">
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">完成支付</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="order-detail">
	       <li><span>订单名称：</span>无穷爱辣鸡爪（精品）50g</li>
	       <li><span>订单总价：</span>￥69.0</li>
	    </ul>
	    <ul class="pay-style">
	    	<li>
		   	 	<img src="images/zhi.png" width="50" /> 
		   	 	<span>
		   	 		<p>支付宝</p>
		   	 		<p class="descript">推荐有支付宝账号的用户使用</p>
		   	 	</span>
		   	 	<label class="am-radio-inline">
				    <input type="radio" checked="checked" name="radio10" value="1" data-am-ucheck>
				</label>
	   	    </li>
	   	    <li>
		   	 	<img src="images/wei.png" width="50" /> 
		   	 	<span>
		   	 		<p>微信支付</p>
		   	 		<p class="descript">推荐安装微信5.0及以上版本的使用</p>
		   	 	</span>
		   	 	<label class="am-radio-inline">
				    <input type="radio" name="radio10" value="1" data-am-ucheck>
				 </label>
		   	</li>
		   	<li>
		   	 	<img src="images/ye.png" width="50" /> 
		   	 	<span>
		   	 		<p>余额宝</p>
		   	 		<p class="descript">账户余额支付</p>
		   	 	</span>
		   	 	<label class="am-radio-inline">
				    <input type="radio" name="radio10" value="1" data-am-ucheck>
				 </label>
		   	</li>
	    </ul>
	    <input type="button" class="login-btn" value="确认支付">
	    <script src="js/jquery.min.js"></script>
        <script src="js/amazeui.min.js"></script>
	</body>
</html>
