<!DOCTYPE html>
<html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
		<link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
		
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">管理收货地址</a>
            </h1>
            <div class="am-header-right am-header-nav">
				<a href="{% url '用户:添加收货地址' %}" class="">
					<i class="am-icon-plus"></i>
				</a>
			</div>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="address-list">
	    	<li class="curr">
	    		<p>收货人：徐女士&nbsp;&nbsp;182********</p>
	    		<p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
	    	    <hr />
	    	    <div class="address-cz">
	    	    	<label class="am-radio am-warning">
                       <input type="radio" name="radio3" value="" data-am-ucheck checked> 设为默认
                    </label>
                    <a href=""><img src="{% static 'images/bj.png' %}" width="18" />&nbsp;编辑</a>
                    <a href="">删除</a>
	    	    </div>
	    	</li>
	    	<li>
	    		<p>收货人：徐女士&nbsp;&nbsp;182********</p>
	    		<p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
	    	    <hr />
	    	    <div class="address-cz">
	    	    	<label class="am-radio am-warning">
                       <input type="radio" name="radio3" value="" data-am-ucheck > 设为默认
                    </label>
                    <a href=""><img src="{% static 'images/bj.png' %}" width="18" />&nbsp;编辑</a>
                    <a href="">删除</a>
	    	    </div>
	    	</li>
	    	<li>
	    		<p>收货人：徐女士&nbsp;&nbsp;182********</p>
	    		<p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
	    	    <hr />
	    	    <div class="address-cz">
	    	    	<label class="am-radio am-warning">
                       <input type="radio" name="radio3" value="" data-am-ucheck > 设为默认
                    </label>
                    <a href=""><img src="{% static 'images/bj.png' %}" width="18" />&nbsp;编辑</a>
                    <a href="">删除</a>
	    	    </div>
	    	</li>
	    	<li>
	    		<p>收货人：徐女士&nbsp;&nbsp;182********</p>
	    		<p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
	    	    <hr />
	    	    <div class="address-cz">
	    	    	<label class="am-radio am-warning">
                       <input type="radio" name="radio3" value="" data-am-ucheck > 设为默认
                    </label>
                    <a href=""><img src="{% static 'images/bj.png' %}" width="18" />&nbsp;编辑</a>
                    <a href="">删除</a>
	    	    </div>
	    	</li>
	    </ul>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/amazeui.min.js' %}"></script>
	</body>
</html>
