{% extends 'farther/user_father.html' %}
{% block body %}
    {% load static %}
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">登录</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <!--<div class="login-logo">
	    	<img src="images/logo.png" />
	    </div>-->
	    <div style="height: 3rem;"></div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="mobile" placeholder="请输入用户名/手机号" class="login-name" value="{{ hq.username }}">
            <input type="password" name="password1" id="password" placeholder="请输入密码" class="login-password">
            <p class="am-text-success">{{ err }}</p>
            <input name="wydl" type="submit" class="login-btn" value="我要登录">
        </form>

	    <div class="agree">
	    	<a href="{% url '用户:注册' %}">免费注册</a>
	    	<a href="{% url '用户:忘记' %}" class="forget">忘记密码？</a>
	    </div>
	    <div class="line"></div>
	    <div class="line-text">第三方账号登录</div>
	    <ul class="second-login">
	    	<li><a href=""><img src="{% static 'images/wxlogin.png' %}"/></a></li>
	    	<li><a href=""><img src="{% static 'images/qqlogin.png' %}"/></a></li>
	    	<li><a href=""><img src="{% static 'images/sinalog.png' %}"/></a></li>
	    </ul>
	</body>
{% endblock %}